<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listeners.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      	<class name="guvi.TestScenarios.SignupTest"/>
		<class name="guvi.TestScenarios.LoginTest"/>
		<class name="guvi.TestScenarios.BookFlightOnewayTripTest"/>
		<class name="guvi.TestScenarios.BookFlightTwowayTripTest"/>
		<class name="guvi.TestScenarios.ValidateCheckInTest"/>
		<class name="guvi.TestScenarios.ValidateFlightStatusTest"/>
		<class name="guvi.TestScenarios.ValidateManageBookingTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
